<html>
<head>
    <title>Facts in Pig Latin!</title>
</head>
<body>
    <h1>Facts in Pig Latin!</h1>
    <p>FACT: {{ fact }}</p>
    <p>To translate the above fact into pig latin click on this <a id="translate" href="{{ url }}">link</a>.</p>
</body>
<footer><a href="{{ url }}">{{ url }}</a></footer>
</html>